<html>
  <head>
    <title>goNode - Desafio 01</title>
  </head>
  <body>
    <form action="/check" method="POST">
      <label for="">
        <span>Nome:</span><br>
        <input type="text" name="name" placeholder="Nome" require>
      </label><br>
      <label for="">
        <span>Data de Nascimento:</span><br>
        <input type="date" name="birth" placeholder="Data de Nascimento" require>
      </label><br><br>
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
